/ion3/default-session*
/vim/.VimballRecord
/vim/.netrwhist
/vim/ruby/command-t/*.o
/vim/ruby/command-t/*.so
/vim/undodir/*
/vim/swap/*
/xmonad/xmonad-x86_64-linux
/xmonad/xmonad.errors
/xmonad/xmonad.hi
/xmonad/xmonad.o
command-t/*.log
command-t/Makefile
*.spl
